#app-container {
    height: 100%;
    width: 100%;
    margin: 1 2 0 2;
    padding: 0;
}

# Top Section
#top-section {
    height: 1;
    padding-left: 2;
    margin-bottom: 1;
    # background: red;
}

# app-title

#app-version {
    padding-left: 2;
}
# ------------

#left-section {
    width: 3fr;
}

#right-section {
    width: 5fr;
}

#action-pane {
    padding: 1 1 1 2;
}

#content-pane {
    height: 7fr;
    align: center middle;
    color: $text-disabled;
}

#status-pane {
    height: 4fr;
}



.pane {
    border: round $primary-background;
    border-title-style: bold;
    border-title-align: right;
}

#footer {
    # background: blue;
}

.focused {
    border: round $primary;
}